<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'
      rel='stylesheet'
    />
    <title>{{title}}</title>
  </head>
  <!-- font-family:'Nunito Sans',sans-serif;font-weight:400; -->
  <body
    style="
      font-family: Poppins;
      font-family: 'Poppins', sans-serif;
      background: #f6f8fb;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    "
  >
    <div style='margin-left: 10px; margin-right: 10px'>
      <div style='height: 16px; margin-top: 20px'>
        <img
          src='https://img.freepik.com/free-psd/logo-mockup_35913-2089.jpg?w=2000'
          height='30px'
        />
      </div>
      <hr style='margin-top: 30px' />
      <h1 style='color: #263c51; font-size: 25px; text-align: center'>
        Verify your email address
      </h1>
      <div>
        <div style='text-align: center'>
          <p>Hey {{name}},</p>
          <p>
            Please use the following One Time Password(OTP) to log into your
            Home Relocator account
          </p>
          <div
            style='text-align: center; margin-top: 40px; margin-bottom: 40px'
          >
            {{otp}}
          </div>
          <p>If you are face any issue, reply to this email</p>
        </div>
      </div>
    </div>
  </body>
</html>