<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'
      rel='stylesheet'
    />
    <title>{{title}}</title>
  </head>
  <!-- font-family:'Nunito Sans',sans-serif;font-weight:400; -->
  <body
    style="
      font-family: Poppins;
      font-family: 'Poppins', sans-serif;
      background: #f6f8fb;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    "
  >
    <div style='margin-left: 10px; margin-right: 10px'>
      <div style='height: 16px; margin-top: 20px'>
        <img
          src='https://img.freepik.com/free-psd/logo-mockup_35913-2089.jpg?w=2000'
          height='30px'
        />
      </div>
      <hr style='margin-top: 30px' />
      <h1 style='color: #263c51; font-size: 25px; text-align: center'>
        Verify your email address
      </h1>
      <div>
        <div style='text-align: center'>
          <p>Dear {{name}},</p>
          <p>
            To complete your experience with Pchub, please verify your email:
          </p>
          <div
            style='text-align: center; margin-top: 40px; margin-bottom: 40px'
          >
            <a
              style='
                background: #fc7a3a;
                color: #fff;
                border: 0.5px solid #e9ebed;
                font-size: 20px;
                padding: 6px 15px;
                cursor: pointer;
                text-decoration: none;
              '
              href='{{url}}'
            >
              Verify Email
            </a>
          </div>
          <p>Or copy and paste this link on your browser:</p>
          <span
            style='
              width: 500px;
              word-wrap: break-word;
              display: inline-block;
              color: rgba(255, 121, 34, 1);
              font-size: 11px;
            '
          ><a
              href='{{url}}'
              target='_blank'
              data-saferedirecturl='https://www.google.com/url?q=https://identity.prod.jibble.io/Account/Verified?emailOrPhoneNumber%3Danuj.bansal%2540solarisrobots.in%26code%3DCfDJ8JmmioXHwoNNph2NXmThfwF2grtz74HfJ%252b80ZYk5TXF0U84cJWo9LRmQqWWtsnfsyJGfIs8%252fLK2y5QrkjD%252f%252bGPV2z7dY8wXXZRqVpy8Tw4wFPTi1jcQuIYrXnm95KRL%252bzGTFNO1efZTiSe5PD%252bJHxsKiqCao6TzMMHq%252blcnJHtovWWzXGaRxbKNzZtajFn%252b0kZ21d8YFUIDNrsws%252f6fLZzLHsXTBJO%252bqXGIuvx4zi7HdkzRDw2GBwFQ%252bR3qUoK2ESQ%253d%253d%26expire%3D1662098406&amp;source=gmail&amp;ust=1661149643022000&amp;usg=AOvVaw1bm9Qm6z_DQS0EuoXfdR3_'
            >https://identity.prod.jibble.<wbr />io/Account/Verified?<wbr
              />emailOrPhoneNumber=anuj.<wbr
              />bansal%40solarisrobots.in&amp;<wbr />code=<wbr
              />CfDJ8JmmioXHwoNNph2NXmThfwF2gr<wbr />tz74HfJ%<wbr
              />2b80ZYk5TXF0U84cJWo9LRmQqWWtsn<wbr
              />fsyJGfIs8%2fLK2y5QrkjD%2f%<wbr
              />2bGPV2z7dY8wXXZRqVpy8Tw4wFPTi1<wbr />jcQuIYrXnm95KRL%<wbr
              />2bzGTFNO1efZTiSe5PD%<wbr />2bJHxsKiqCao6TzMMHq%<wbr
              />2blcnJHtovWWzXGaRxbKNzZtajFn%<wbr />2b0kZ21d8YFUIDNrsws%<wbr
              />2f6fLZzLHsXTBJO%<wbr />2bqXGIuvx4zi7HdkzRDw2GBwFQ%<wbr
              />2bR3qUoK2ESQ%3d%3d&amp;expire=<wbr />1662098406</a></span>
        </div>
        <p>Regards,</p>
        <p>Pchub</p>
      </div>
    </div>
  </body>
</html>